
  .btn-start {
      background-color: #888888;
      border: 2px solid #585858;
  }
  
  .container {
      background-image: url("./../assets/calendar.jpg");
      background-color: #585858;
  }
  
  
  .text {
      color: white;
      border: 2px solid black;
  }
  
#theme{    
    display: none;
    background-color: #585858;
}