
.btn-start {
    background-color: #fa923f;
    border: 2px solid #512751;
}

.container {
    background-image: url("./../assets/calendar.png");
}


.text {
    color: white;
    border: 2px solid black;
}

#theme{    
    display: none;
    background-color: #521751;
}